.transaction-history {
  width: 100%;
  max-width: 700px;

  text-align: center;
  padding: 0;
  border-collapse: collapse;
}

.transaction-history,
.transaction-history td,
.transaction-history tr,
.transaction-history th {
  margin: 0 auto;
  border: 1px solid rgba(240, 240, 240, 1);
}

.transaction-history td,
.transaction-history th {
  padding: 10px 0;
}

.transaction-history th {
  background: #49cedf;
  color: #eee;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.transaction-history tr:nth-child(2n) {
  background: #f1f1f1;
}
